* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body,
main {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

body {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: relative;
    overflow-x: hidden;
}

header {
    width: 100%;
    text-align: center;
    padding: 3rem 0;
}

header h1 {
    font-size: 2.5rem;
}

main {
    margin-bottom: 2rem;
}

.product-container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.card .product-image {
    display: block;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
}

.card .product-image:hover {
    opacity: .6;
    cursor: pointer;
}

.card h2 {
    margin: 1rem;
    font-size: 1.6rem;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    color: #ccc;
    font-size: 1.8rem;
}

.modal span {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    float: right;
}

.modal span::after {
    content: '';
    clear: both;
}

.modal span:hover {
    cursor: pointer;
    color: #fff;
}

.modal img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: grow .3s linear forwards;
}

.product-realname {
    color: #fff;
    font-size: 1.8rem;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(0,0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1,1);
    }

}

